body {
    background-color: black;
    margin: 200px;
}

.parent {
    background-color: azure;
    width: 100%;
    height: 500px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.child {
    background-color: aquamarine;
    width: 200px;
    height: 200px;
}

.child1 {
    background-color: rgb(126, 38, 38);
    width: 200px;
    height: 250px;
}